@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lpmq";
  src: url("../../public/LPMQ\ IsepMisbah.ttf") format("truetype");
}

.lafadz {
  font-family: "Lpmq", serif;
}
